@import '../modules/roboto-fonts';

// Roboto Font Combinations
// https://github.com/StartPolymer/polymer-theme/wiki/Roboto-Font-Combinations
$font-name-heading:     'roboto' !default;
$font-lang:             'en' !default;
$font-heading:          roboto-font($font-name-heading, 'heading') !default;
$font-body:             roboto-font($font-name-heading, 'body') !default;
$font-url: roboto-font($font-name-heading, 'url') + '&lang=' + $font-lang !default;

@import url($font-url);
