.item {
  color: $color-text-primary;
  transition: all 300ms ease-in-out;
  @extend %text_subhead;

  &.core-selected {
    background: $color-accent;
    color: $color-accent-text;
  }

  &::shadow #ripple {
    color: $color-accent;
  }

  &__icon {
    margin-right: 24px;
  }
}
