.button {
  @extend %text_button;

  &:hover {
    background: $color-background-minor;
  }

  &_primary {
    color: $color-text-primary;

    &:hover {
      background: $color-background-primary;
    }

    &_disabled {
      background: $color-background-minor;
      color: $color-text-primary-disabled-2;
    }

    &_raised {
      background: $color-primary;
      color: $color-primary-text;

      &:hover {
        background: $color-primary-7;
      }
    }
  }

  &_secondary {
    color: $color-text-secondary;

    &:hover {
      background: $color-background-secondary;
    }

    &_disabled {
      background: $color-background-minor;
      color: $color-text-secondary-disabled-2;
    }

    &_raised {
      background: $color-secondary;
      color: $color-secondary-text;

      &:hover {
        background: $color-secondary-7;
      }
    }
  }

  &_success {
    color: $color-text-success;

    &:hover {
      background: $color-background-success;
    }

    &_disabled {
      background: $color-background-minor;
      color: $color-text-success-disabled-2;
    }

    &_raised {
      background: $color-success;
      color: $color-success-text;

      &:hover {
        background: $color-success-7;
      }
    }
  }

  &_info {
    color: $color-text-info;

    &:hover {
      background: $color-background-info;
    }

    &_disabled {
      background: $color-background-minor;
      color: $color-text-info-disabled-2;
    }

    &_raised {
      background: $color-info;
      color: $color-info-text;

      &:hover {
        background: $color-info-7;
      }
    }
  }

  &_warning {
    color: $color-text-warning;

    &:hover {
      background: $color-background-warning;
    }

    &_disabled {
      background: $color-background-minor;
      color: $color-text-warning-disabled-2;
    }

    &_raised {
      background: $color-warning;
      color: $color-warning-text;

      &:hover {
        background: $color-warning-7;
      }
    }
  }

  &_error {
    color: $color-text-error;

    &:hover {
      background: $color-background-error;
    }

    &_disabled {
      background: $color-background-minor;
      color: $color-text-error-disabled-2;
    }

    &_raised {
      background: $color-error;
      color: $color-error-text;

      &:hover {
        background: $color-error-7;
      }
    }
  }

  &_link {
    color: $color-text-link;

    &:hover {
      background: $color-text-link-hover;
    }

    &_disabled {
      background: transparent;
      color: $color-text-link-disabled;
    }

    &_raised {
      background: transparent;
      color: $color-text-link;

      &:hover {
        background: $color-text-link-hover;
      }
    }
  }

  &_border {
    border: 1px solid currentColor;
  }

  &_round-border {
    border: 1px solid currentColor;
    border-radius: 10em;
    padding-left: 8px;
    padding-right: 8px;
  }
}
