.main {
  &__content {
    background: $color-background;
    color: $color-text;

    /deep/ a {
      color: $color-text-link;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    @extend %text_title;
    padding-left: 32px;

    @media all and (max-width: $phone-width-max) {
      padding-left: 0;
    }
  }

  &__toolbar {
    background: $color-primary;
    color: $color-primary-text;
  }
}
