.menu {
  &__item {
    @extend %text_body_1;
    transition: all 300ms ease-in-out;

    &.core-selected {
      font-weight: 500;
    }

    &:hover {
      font-weight: 500;
    }

    &::shadow #ripple {
      color: $color-text-8;
    }

    &_primary {
      color: $color-text-primary;

      &.core-selected {
        background: $color-background-primary;
      }

      &::shadow #ripple {
        color: $color-primary;
      }
    }

    &_secondary {
      color: $color-text-secondary;

      &.core-selected {
        background: $color-background-secondary;
      }

      &::shadow #ripple {
        color: $color-secondary;
      }
    }
  }

  &__icon {
    margin-right: 16px;
  }
}
